[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jazzz
[access "refs/for/refs/*"]
	read = group user/jazzz
	push = group user/jazzz
	label-Code-Review = -2..+2 group user/jazzz
	label-Verified = -1..+1 group user/jazzz
	rebase = group user/jazzz
	removeReviewer = group user/jazzz
	submit = group user/jazzz
[access "refs/heads/*"]
	read = group user/jazzz
	create = group user/jazzz
	push = +force group user/jazzz
	pushMerge = group user/jazzz
[access "refs/tags/*"]
	push = +force group user/jazzz
	pushTag = group user/jazzz
	pushSignedTag = group user/jazzz
